# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/

# Node
node_modules/
.next/
out/

# IDE
.idea/
.vscode/

# Other
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
*.swo
*.swp
*.swn